<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Lists</title>
    <link rel="stylesheet" type="text/css" href="/css/templateList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!-- <body> -->
<!-- <div class = "header">
        <img class = "logo" src="/static/renault_nissan_logo.png">
        <h4 class = "pipe"> > </h4>
        <h4 class="product-name">Quality Inspect</h4>
    </div> -->

<body class="container">
    <div class="ui top attached text menu" style="height: 10%; background-color: #EFEFEF">
        <div class="item" style="width: 10%; margin-left: 3%;">
            <img src="/static/renault_nissan_logo.png" style="width: 100%">
        </div>
        <div style="margin-left:65%; margin-top: 2.5%;">
            <strong>
                <%= new Date().toLocaleDateString()%>
            </strong>
            &ensp;
            <strong>
                <%= new Date().toLocaleTimeString()%>
            </strong>
            
        </div>
        <div style="margin-top: 1%;margin-left: 2%;text-align: center">
            <!-- <i class="huge user circle outline icon"></i> -->
            <img src="../static/Avatar Photo (2 states).png"><br>
            <span><strong>OPERATOR</strong></span>
        </div>
    </div>