<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Lists</title>
    <link rel="stylesheet" type="text/css" href="/css/templateList.css">
</head>
<body>
    <div class = "header">
        <img class = "logo" src="/static/renault_nissan_logo.png">
        <h4 class = "pipe"> > </h4>
        <h4 class="product-name">Quality Inspect</h4>
    </div>